    .menu {
    	display: grid;
    	grid-template-columns: repeat(3, 1fr);
    	gap: 10px;
    	grid-auto-rows: minmax(auto, auto);
    }

    .icon {
    	width: 50px;
    	height: 50px;
    }

    .item {
    	margin: 0.5rem 0.9rem;
    	padding: 0.5rem;
    	display: flex;
    	flex-direction: row;
    	align-items: center;
    	border-radius: 10px;
    	box-sizing: border-box;
    	min-width: 150px;
    	transition: 0.3s all;
    }

    .item>span {
    	margin: 0 0.5rem 0;

    }

    .item:hover {
    	background: rgba(0, 0, 0, 0.05);
    }

    @media (max-width: 48rem) {
    	.menu {
    		display: flex;
    		flex-direction: column;
    	}
    }